$background-color: #a7bcff;
$background-dark-color: #7b96ec;
$background-sidebar-color: #3e3c61;
$background-navbar-color: #2f2d52;

$light-color: #fff;
$light-gray: #AFAFAF;
$light-text-color: #ddddf7;

$primary-color: #5d5b8d;
$primary-light-color: #8da4f1;