@import '../../styles/variables.scss';

.chat {
    flex: 2;

    .chatInfo {
        height: 50px;
        background-color: $primary-color;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        span {
            color: #ddddf7;
            font-weight: 500;

            display: flex;
            align-items: center;
            gap: 6px;

            .online {
                margin-top: 2px;
            }
        }

        .chatIcons {
            display: flex;
            gap: 10px;

            img {
                width: 24px;
                height: 24px;

                cursor: pointer;
            }
        }
    }
}