@import '../../styles/variables.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $background-navbar-color;

    height: 50px;
    padding: 10px;

    color: $light-text-color;

    .logo {
        font-weight: 700;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            background-color: $light-text-color;
            
            width: 24px;
            height: 24px;
            border-radius: 50%;
            object-fit: cover;
        }

        button {
            background-color: $primary-color;
            color: $light-text-color;
            font-size: 12px;
            padding: 5px;

            border: none;
            cursor: pointer;
        }
    }
}