@import '../../styles/variables.scss';

.chats {
    .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $light-color;
        cursor: pointer;

        transition: background-color .3s ease-in-out;
        
        &:hover {
            background-color: $background-navbar-color;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .userChatInfo {
            span {
                font-size: 18px;
                font-weight: 500;
            }

            .lastMessage {
                font-size: 14px;
                color: lightgrey;
            }
        }
    }
}